.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container1{
  background: rgb(33, 37, 41);
  padding : 20px
}

.navbar-nav > li > a {
  color : #20C20E !important;
}

.navbar-brand{
  color : #20C20E !important;
}

.header-wrapper{
  border : 1px solid grey;
  margin-top: 20px;
  margin-bottom: 40px;
}

.row{
  display : flex;
}

.column {
  flex : 1;
  color : #20C20E;
  padding: 70px;
}


.column1{
  flex : 1;
  color : white;
  padding : 20px;
}

.b-title {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
}

.b-publish {
  font-size: 1rem;
  font-weight: 80;
  text-decoration: underline;
}

.img-fluid{
  width : 80vh !important;
  height : 60vh !important;
}